<h1>Job Details</h1>


Title: <%= @job.title %><br>
Description: <%= @job.description %><br>
Company: <%= link_to @job.company.name, company_path(@job.company.id) %>

<p>
  <%= link_to "View all jobs", jobs_path %>
</p>
