body {
  margin: 2% 10%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.float-right { float:right; }
.float-left { float:left; }
